/* ==========================================================================
   Grids (powered by Susy)
   ========================================================================== */



/* Susy grids global settings
   -------------------------------------------------------------------------- */

$susy: (
    columns: 12,
    gutters: 0.5,
    global-box-sizing: border-box
);

@include border-box-sizing;

