/* ==========================================================================
   Helper classes & tools
   ========================================================================== */


/* Alignment & positioning
   -------------------------------------------------------------------------- */

.unselectable { user-select: none; }

.hide-mobile {
    @include bp(0px) { display: none; }
    @include bp($bp-small) { display: inline-block; }
}

.mobile-only {
    @include bp(0px) { display: inline-block; }
    @include bp($bp-medium) { display: none; }
}


/* Miscellanous utilities
   -------------------------------------------------------------------------- */

.cf {
    zoom: 1;
    &:before, &:after { content: ' '; display: table; }
    &:after { clear: both; }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.visually-unhidden {
    position: static;
    overflow: visible;
    clip: inherit;
    height: auto;
    width: auto;
    margin: 0;
}

/**
 * Center any element of any size in a container of any size.
 * css-tricks.com/centering-in-the-unknown
 */

/* Parent can be any width and height */
.centered-wrap { text-align: center; }
    .centered-wrap:before {
      content: ' ';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

/* Element to be centered, can also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
}
