<div class="wrapper">
    <div class="content">
        <header id="particles-js" class="header">
            <svg class="header--logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 794 794">
                <defs>
                    <mask id="header--mask">
                        <rect fill="#fcfcfc" x="0" y="0" width="794" height="794" />
                        <circle cx="397" cy="397" r="397" />
                        <polyline fill="#fcfcfc" points="226.331402
                            183.089224 311.895713 183.089224
                            311.895713 610.910776 226.331402
                            610.910776 226.331402 183.089224" />
                        <rect fill="#fcfcfc" x="226.331402" y="525.346466" width="342.257242" height="85.5643105" />
                        <rect fill="#fcfcfc" x="397.460023" y="354.217845" width="171.128621" height="85.5643105" />
                        <rect fill="#fcfcfc" x="397.460023" y="183.089224" width="171.128621" height="85.5643105" />
                    </mask>
                </defs>
                <rect fill="#fcfcfc" fill-opacity="1" width="100%" height="100%" mask="url(#header--mask)" />
            </svg>
        </header>
        <h1 class="header--name">luke elmers</h1>
        <h2 class="header--subtitle">software engineer</h2>
        <div class="grid">
            <section>
                <h3>hello</h3>
                <h4>Nice to meet you.</h4>
                <p>
                    I&#700;m a full stack engineering lead who has been building for
                    the web for 12+ years, freelancing for small businesses <em>&amp;</em>
                    non-profits, <em>&amp;</em> working in both agency <em>&amp;</em> startup
                    environments. In the agency world, I managed teams of
                    developers creating big-budget digital experiences for
                    Fortune 500 clients. Now I spend most of my time
                    architecting <em>&amp;</em> building web applications and
                    Node microservices.
                </p>
            </section>
            <section>
                <h3>friends</h3>
                <h4>People I&#700;ve been lucky to work with.</h4>
                <ul class="list--inline">
                    <li><a href="https://elastic.co" target="_blank">Elastic</a></li>
                    <li><a href="https://airmap.com" target="_blank">AirMap</a></li>
                    <li><a href="https://vowtobechic.com" target="_blank">Vow to be Chic</a></li>
                    <li><a href="https://common.is" target="_blank">COMMON</a></li>
                    <li><a href="http://www.kraftrecipes.com" target="_blank">Kraft</a></li>
                    <li><a href="https://tabasco.com" target="_blank">Tabasco</a></li>
                    <li><a href="https://tostitos.com" target="_blank">Tostitos</a></li>
                    <li><a href="https://www.pepsi.com" target="_blank">Pepsi</a></li>
                    <li><a href="https://www.htc.com" target="_blank">HTC</a></li>
                    <li><a href="https://www.grammy.com" target="_blank">GRAMMYs</a></li>
                    <li><a href="https://www.nissanusa.com/" target="_blank">Nissan</a></li>
                    <li><a href="https://www.nesquik.com/" target="_blank">Nesquik</a></li>
                    <li><a href="http://www.pacificstandardtime.org/" target="_blank">The&nbsp;Getty&nbsp;/&nbsp;PST</a></li>
                    <li><a href="https://www.qualcomm.com/" target="_blank">Qualcomm</a></li>
                    <li><a href="https://www.activision.com/" target="_blank">Activision</a></li>
                    <li><a href="http://www.linksys.com/" target="_blank">Linksys</a></li>
                    <li><a href="https://www.trimble.com/" target="_blank">Trimble</a></li>
                </ul>
            </section>
            <section>
                <h3>whereabouts</h3>
                <h4>What I&#700;m up to lately.</h4>
                <p>
                    Currently I&#700;m a senior software engineer at
                    <a href="https://elastic.co/" target="_blank">Elastic</a>,
                    working with the team that builds
                    <a href="https://github.com/elastic/kibana" target="_blank">Kibana</a>.
                </p>
            </section>
            <section class="grid--section">
                <h3>contact</h3>
                <h4>Drop me a line.</h4>
                <p>
                    <ul>
                        <li><a href="mailto:lukeelmers@gmail.com" target="_blank">lukeelmers-(at)-gmail-(dot)-com</a></li>
                        <li><a href="https://twitter.com/lukeelmers" target="_blank">@lukeelmers</a></li>
                        <li><a href="https://linkedin.com/in/lukeelmers" target="_blank">linkedin</a></li>
                        <li><a href="https://github.com/lukeelmers" target="_blank">github</a></li>
                    </ul>
                </p>
            </section>
        </div>
    </div>
</div>

