<header>
    <svg class="header--logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432 504">
        <g>
            <polyline points="72,72 144,72 144,432 72,432 72,72" />
            <rect x="72" y="360" width="288" height="72" />
            <rect x="216" y="216" width="144" height="72" />
            <rect x="216" y="72" width="144" height="72" />
        </g>
    </svg>
    <h1 class="header--name">luke elmers</h1>
</header>

