/* ==========================================================================
   Media Object
   ========================================================================== */



/**
 * Media Objects display a piece of media to the left or right of a content block
 *
 * Modeled after Bootstrap's implementation: getbootstrap.com/components/#media
 *
 * Usage:
 *
 *  <div class="media">
 *      <a class="media-left" href="#">
 *          <img class="media-object" src="..." alt="...">
 *      </a>
 *      <div class="media-body">
 *          <h4 class="media-heading">Media heading</h4>
 *          ...
 *      </div>
 *  </div>
 */

/* Reset margins for tighter default spacing */
.media {
    div, dl, dt, dd, ul, ol, li,
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, 
    pre, form, fieldset, input, textarea,
    p, blockquote, th, td { margin-bottom: $quarter-spacing-unit; }
    
    &:last-child { margin-bottom: 0; }
}

    .media-left,
    .media-right,
    .media-body {
        display: table-cell;
        vertical-align: top;
    }

    .media-right {
        padding-left: $half-spacing-unit;
        @include bp($bp-medium) { padding-left: $base-spacing-unit; }
    }

    .media-left {
        padding-right: $half-spacing-unit;
        @include bp($bp-medium) { padding-right: $base-spacing-unit; }
    }

    .media-middle { vertical-align: middle; }

    .media-bottom { vertical-align: bottom; }

        .media-object {
            // Fix collapse in webkit from max-width: 100% and display: table-cell
            // see: bugzilla.mozilla.org/show_bug.cgi?id=975632
            // see: github.com/twbs/bootstrap/issues/10690
            max-width: none;
            // width: 100%;
        }

    .media-body {}

        .media-heading { font-weight: bold; }
